body {
    background-image: url("../images/bkgr5.jpg"); 
    background-repeat: no-repeat;
    /* background-color: lemonchiffon; */
    background-size: cover;
}

.container {
    /* background-color: lavender; */
     font-family: 'Barlow Condensed', sans-serif; 
}

#start-screen, #stats-screen {
    border:2px solid black;
    background-color: lavender;
    width:50%;
    margin: 0 auto;
    height: 400px;
    text-align: center;
}

#letter {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 10px 10px;
  }
  
  /* #letter {
    -webkit-transform: rotateY(150deg,150deg); /* Safari */
    /* transform: rotateY(150deg,150deg,159deg); Standard syntax */
  /* } */ 

#timer-start{
    background-color: lightgreen;
    color: black;
    /* text-align: center; */
    width:50%;
} 
#timer-done {
    background-color: lightgreen;
    color: black;
    /* text-align: center; */
    width:50%;
    margin-left:25%;
}
#reset-game{
    background-color: lightgreen;
    color: black;
    /* text-align: center; */
    margin-left: 117px;
    width: 300px;
}

.start-instruction {
    font-size: 47px;
    color:grey;
    text-shadow: 2px 2px;

}

#heading {
    text-align: center;
    /* border: 2px solid blue; */
    font-size: 66px;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}

.question0, .question1, .question2, .question3,
.question4, .question5 {
    border: 2px solid purple;
    background-color: lavender;
    font-size: 20px;
    text-align: center; 
    font-size: 26px;
}
