body {
    background-image: url("../images/bkgr5.jpg"); 
    background-repeat: no-repeat;
    /* background-color: lemonchiffon; */
    background-size: cover;
}

.container {
    /* background-color: lavender; */
     font-family: 'Barlow Condensed', sans-serif; 
}

#start-screen, #stats-screen {
    border:2px solid black;
    background-color: lavender;
    /* background-image: url("/Users/jennyhernandez/Desktop/TriviaGame/assets/images/bkgr3.jpg"); */
    /* opacity: 0.3; */
    width:50%;
    margin: 0 auto;
    height: 300px;
    text-align: center;
}

#timer-start, 
#timer-done, 
#reset-game{
    background-color: lightgreen;
    color: black;
    /* text-align: center; */
    width:50%;
}

.start-instruction {
    font-size: 47px;
    color:grey;
}

.main-head {
    text-align: center;
    /* border: 2px solid blue; */
    font-size: 32px;
    
}

.question0, .question1, .question2, .question3,
.question4, .question5 {
    border: 2px solid purple;
    background-color: lavender;
    font-size: 20px;
    text-align: center; 
    font-size: 26px;
}
